<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>{{'Picture'|translate}}</th>
      <th>{{'Action'|translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of tableData">
      <td style="width: 350px">
        <img [src]="x.fileName" alt="" style="max-width: 100%; max-height: 150px">
      </td>
      <td>
        <button class="btn btn-danger" (click)="izbrisi(x.id)">{{'Delete'|translate}}</button>&nbsp;
      </td>
    </tr>
    </tbody>
  </table>

  <button class="form-label btn btn-success" (click)="novaSlikaDugme()">{{'New picture'|translate}}</button>
</div>

<app-product-picture-snimi
  *ngIf="showModal"
  (closeModal)="showModal = false"
  (reloadData)="loadData()"
  [odabrani]="odabrani"
></app-product-picture-snimi>
