<header style="margin-bottom:50px"  class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div  class="text-center text-white">
      <h1 class="display-4 fw-bolder">{{'Users'|translate}}</h1>
    </div>
  </div>
</header>
<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>{{'Full name'|translate}}</th>
      <th>{{'Role'|translate}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of visibleTableData">
      <td>{{ x.firstName }} {{ x.lastName }}</td>
      <td>
        <select [(ngModel)]="x.role[0].roleId">
          <option *ngFor="let y of selectData" [value]="y.roleId">{{ y.roleName }}</option>
        </select>
      </td>
      <td>
        <button class="btn btn-primary" (click)="changeRole(x.role[0].roleId, x.id)">Change role</button>
      </td>
    </tr>
    </tbody>
  </table>

  <button class="form-label btn btn-success" href="#" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal4" (click)="setValue()">Create Report</button>

  <div class="pagination-container d-flex justify-content-center" style="margin-bottom: 20px;">
    <button style="margin-right: 10px" class="btn btn-primary" (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous</button>
    <ng-container *ngFor="let page of allPages">
      <button style="margin: 2px" class="btn btn-primary" [class.btn-selected]="currentPage === page" (click)="goToPage(page)">{{ page }}</button>
    </ng-container>
    <button style="margin-left: 10px" class="btn btn-primary" (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>

</div>
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">Generate report</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-1 row-cols-md-1 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <div class="d-flex justify-content-center align-items-center mb-3">
                  <div class="w-100">
                    <label class="form-label">Role</label>
                    <select class="form-control" [(ngModel)]="role">
                      <option value="All">All</option>
                      <option *ngFor="let x of selectData" value="{{x.roleName}}">{{x.roleName}}</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-3">
                  <label class="form-label">User creation date:</label>
                  <div class="col">
                    <label class="form-label">From</label>
                    <input type="date" class="form-control" [(ngModel)]="fromDate">
                  </div>
                  <div class="col">
                    <label class="form-label">To</label>
                    <input type="date" class="form-control" [(ngModel)]="toDate">
                  </div>
                </div>
                <label class="form-label mt-3" for="myCheckbox">Download report?</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="myCheckbox" [(ngModel)]="isDownloadChecked">
                  <label class="form-check-label" for="myCheckbox">Yes, download report</label>
                </div>
                <div class="mt-3">
                  <input *ngIf="isDownloadChecked" type="text" id="report-name" placeholder="Name your report.." [(ngModel)]="report_name" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
        <button type="button" class="btn btn-primary" (click)="generateReport()">Generate report</button>
      </div>
    </div>
  </div>
</div>
