<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Naziv</th>
      <th>Akcija</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of tableData">
      <td>{{x.name}}</td>
      <td>
        <button class="btn btn-danger" (click)="izbrisi(x.id)">Izbriši</button>&nbsp;
        <button class="btn btn-primary" (click)="showModal=true; odabrani=x">Uredi</button>
      </td>
    </tr>
    </tbody>
  </table>

  <button class="form-label btn btn-success" (click)="showModal=true; odabrani={}">Novi Proizvođač</button>
</div>

<app-producers-snimi
  *ngIf="showModal"
  (closeModal)="showModal = false"
  (reloadData)="loadData()"
  [odabrani]="odabrani"
></app-producers-snimi>
<!--<app-product-snimi-->
<!--  (loadCategories)="loadData()"-->
<!--&gt;</app-product-snimi>-->

