<header style="margin-bottom:50px"  class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div  class="text-center text-white">
      <h1 class="display-4 fw-bolder">{{'Orders'|translate}}</h1>
    </div>
  </div>
</header>
<div class="container">
  <button style="font-size: 24px" class="btn btn-transparent" [routerLink]="'/employee'">
    <i class="bi bi-arrow-left "></i><b> {{'Return to employee page'|translate}} </b>
  </button><br><br>
  {{'Items per page'|translate}} <select [(ngModel)]="itemsPerPage" (click)="cc()">
  <option value="6">6</option>
  <option value="12">12</option>
  <option value="18">18</option>
  <option value="24">24</option>
</select>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>{{'Order No'|translate}}</th>
      <th>{{'Total Price'|translate}}</th>
      <th>{{'Shipping Address'|translate}}</th>
      <th>{{'Order Details'|translate}}</th>
      <th>{{'Customer Name'|translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of tableData | paginate: {itemsPerPage: itemsPerPage, currentPage:p, totalItems: totalItems} ">
      <td>{{x.id}}</td>
      <td> {{x.totalTotalPrice}} KM</td>
      <td>{{x.shippingAdress}}</td>
      <td><button class="btn btn-info" (click)="productDetails(x)">{{'Order Details'|translate}}</button></td>
      <td>{{x.user.userName}}</td>
    </tr>
    </tbody>
  </table>
  <button class="form-label btn btn-success" href="#" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal4" style="margin-left: 10px" (click)="setValue()">Create Report</button>


  <div class="mt-8 py-5 flex justify-center align-items-center">
    <pagination-controls (pageChange)="p =$event; cc()"></pagination-controls>
  </div>

</div>




<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">{{'Generate report'|translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-1 row-cols-md-1 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <div class="row mt-3">
                  <label class="form-label">{{'Order creation date'|translate}}:</label>
                  <div class="col">
                    <label class="form-label">{{'From'|translate}}</label>
                    <input type="date" class="form-control" [(ngModel)]="fromDate">
                  </div>
                  <div class="col">
                    <label class="form-label">{{'To'|translate}}</label>
                    <input type="date" class="form-control" [(ngModel)]="toDate">
                  </div>
                </div>
                <label for="min-price-input">{{'Minimum Total Order Price'|translate}}</label>
                <input type="number" id="min-price-input" [(ngModel)]="minPrice" class="form-control">
                <label for="max-price-input">{{'Maximum Total Order Price'|translate}}</label>
                <input type="number" id="max-price-input" [(ngModel)]="maxPrice" class="form-control">
                <p *ngIf="isInvalidPriceRange" style="color: red;">{{'Invalid price range'|translate}}.</p>
                <label class="form-label mt-3" for="myCheckbox">{{'Download report'|translate}}?</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="myCheckbox" [(ngModel)]="isDownloadChecked">
                  <label class="form-check-label" for="myCheckbox">{{'Yes'|translate}}, {{'Download report'|translate}}</label>
                </div>
                <div class="mt-3">
                  <input *ngIf="isDownloadChecked" type="text" id="report-name" placeholder="Name your report.." [(ngModel)]="report_name" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" >{{'Close'|translate}}</button>
            <button type="button" class="btn btn-primary" (click)="validatePriceRange(); generateReport()" [disabled]="isButtonDisabled">{{'Generate report'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<app-product-snimi
  *ngIf="showModal"
  (closeModal)="showModal = false"
  (reloadData)="loadData()"
  [odabrani]="odabrani"
></app-product-snimi>

