<body xmlns:paginate="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<div class="CartContainer">
  <div class="Header">
    <h3 class="Heading">{{'Your cart'|translate}}</h3>
    <h5 class="Action" (click)="UkloniteSve()">{{'Delete All'|translate}}</h5>
  </div>

  <div *ngFor="let x of tableData | paginate: {itemsPerPage: itemsPerPage, currentPage:p, totalItems: totalItems}" class="Cart-Items">
    <div class="image-box">
      <img *ngIf="x.product.productPictures.length" class="card-img-top" src="{{x.product.productPictures[0].fileName}}" alt="..."  />
    </div>
    <div class="about">
      <div class="title">{{x.product.name}}</div>


    </div>
    <div class="counter">
      <div class="btn" (click)="brojacminus(x)">-</div>
      <div class="count">{{x.quantity}}</div>
      <div class="btn" (click)="brojacplus(x)">+</div>
    </div>
    <div class="prices">
      <div class="price" *ngIf="x.product.discountPercent">
        <span class="amount">{{ calculateDiscountedPrice(x.product.price, x.product.discountPercent) }} KM</span>
      </div>
      <div class="price" *ngIf="!x.product.discountPercent">
        <span class="amount">{{x.product.price}} KM</span>
      </div>

      <div class="remove" (click)="UkloniIzkorpe(x.id)"><u>{{'Remove from cart'|translate}}</u></div>
    </div>
  </div>


  <hr>
  <div class="checkout">
    <div class="d-flex justify-content-between pt-2" *ngIf="(this.subscribedUser_data!=null && this.subscribedUser_data.data[0].isSubscribed==true)  && this.totalItems>0">
      <p class="fw-bold mb-0">{{'Total price'|translate}}</p>
      <p class="text-muted mb-0"><span class="fw-bold me-4">{{totalTotalPrice}} KM</span></p>
    </div>

    <div class="d-flex justify-content-between pt-2" *ngIf="(this.subscribedUser_data!=null && this.subscribedUser_data.data[0].isSubscribed==true)  && this.totalItems>0">
      <p class="fw-bold mb-0">{{'Membership discount:'|translate}}</p>
      <p class="text-muted mb-0" ><span class="fw-bold me-4" >- {{discountMemberAmount}} KM</span></p>
    </div>

    <div class="total">
      <div>
        <div class="Subtotal">{{'Total cost'|translate}}</div>
        <div class="items">{{'Number of units:'|translate}} {{totalItems}}</div>
      </div>
      <div class="total-amount" *ngIf="(this.subscribedUser_data!=null && this.subscribedUser_data.data[0].isSubscribed==true)">{{totalDiscountedPrice}}KM</div>
      <div class="total-amount" *ngIf="(this.subscribedUser_data==null || this.subscribedUser_data.data[0].isSubscribed==false)">{{totalTotalPrice}}KM</div>
    </div>


    <button (click)="openModal()"  type="button" class="btn btn-dark; button" data-bs-toggle="modal" data-bs-target="#ShippingAddress" [disabled]="totalItems==0">
      {{'Complete Order'|translate}}</button></div>


  <div  class="modal fade"  id="CardData" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h4 class="display-6 d-inline">{{'Payment information'|translate}}</h4>
          <button  type="button" class="btn-close btn-close-black" data-bs-dismiss="modal" aria-label="Close"
                   style="position: absolute; right: 10px; font-size: 24px; padding: 10px;"></button>

          <form style="margin-top: 35px" (ngSubmit)="onSubmit()">
            <div #cardElement></div>
            <br>
            <div *ngIf="errorResponse" class="error-message" style="color: red">{{ errorResponse.error }}</div>
            <br>

            <!-- ...other form fields... -->
            <button  type="submit" [disabled]="isButtonDisabled" >{{'Submit Payment '|translate}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--  <button type="button" (click)="openModal()">{{'Submit Payment '|translate}}</button>-->

  <!-- Modal -->
  <div class="modal fade" id="ShippingAddress" tabindex="-1" aria-hidden="true" aria-labelledby="ShippingAddressLabel" [class.show]="showModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ShippingAddressLabel" >{{'Shipping Address'|translate}}</h5>
          <!-- <button type="button" class="close" (click)="closeModal()">
             <span aria-hidden="true">&times;</span>
           </button>-->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <input type="text" [(ngModel)]="shippingAdress" placeholder="Enter your shipping address" class="form-control">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#CardData" data-bs-toggle="modal">{{'Save'|translate}}</button>
          <!--          <button type="button" class="btn btn-secondary" (click)="closeModal()">{{'Close'|translate}}</button>-->
        </div>
      </div>
    </div>
  </div>

  <div class="py-5">
    <pagination-controls (pageChange)="p =$event; cc()"></pagination-controls>
  </div>
</div>
</body>

<div class="toast" id="successToast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true">
  <div class="toast-header">
    <strong class="mr-auto">Success</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Order has been successfully created.
  </div>
</div>
