<div class="modal fade" id="SignUpModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="myform bg-dark">
          <h1 class="text-center">{{'Sign up'|translate}}</h1>
          <form class="was-validated" novalidate>
            <div class="mb-3 mt-4">
              <label for="txtIme" class="form-label">{{'First name'|translate}}</label>
              <input name="firstName" id="txtIme" placeholder="Enter first name" class="form-control"
                     [(ngModel)]="registerRequest.firstName" required>
              <div class="valid-feedback">
                {{'Looks good!'|translate}}
              </div>
            </div>

            <div class="mb-3">
              <label for="txtPrezime" class="form-label">{{'Last name'|translate}}</label>
              <input name="lastName" id="txtPrezime" placeholder="Enter last name" class="form-control"
                     [(ngModel)]="registerRequest.lastName" required>
              <div class="valid-feedback">
                {{'Looks good!'|translate}}
              </div>
            </div>

            <div class="mb-3 mt-4">
              <label for="txtEmail" class="form-label">{{'Email'|translate}}</label>
              <input name="email" id="txtEmail" type="email" placeholder="Enter email" class="form-control"
                     [(ngModel)]="registerRequest.email" required>
              <div class="invalid-feedback">
                {{'Please provide a valid email.'|translate}}
              </div>
            </div>

            <div class="mb-3 mt-4">
              <label for="txtUsername" class="form-label">{{'Username'|translate}}</label>
              <input name="userName" id="txtUsername" placeholder="Enter username" class="form-control"
                     [(ngModel)]="registerRequest.userName" required>
              <div class="invalid-feedback">
                {{'Please choose a username'|translate}}
              </div>
            </div>

            <div class="mb-3 mt-4">
              <label for="txtPhoneNumber" class="form-label">{{'Phone number'|translate}}</label>
              <input name="phoneNumber" id="txtPhoneNumber" placeholder="Enter phone number" class="form-control"
                     [(ngModel)]="registerRequest.phoneNumber" required>
            </div>

            <div>
              <label class="form-label">{{'Password'|translate}}</label>
              <div class="input-group-text form-control ">
              <input placeholder="Enter password" [type]="!isPasswordHidden? 'text' : 'password'"
                     name="password" id="password" class="form-control" data-toggle="password" minlength="6"
                     [(ngModel)]="registerRequest.password"  required>
                <i (click)="isPasswordHidden=!isPasswordHidden;" class="fa fa-eye"></i>
              </div>

            </div>
            <br>
            <label for="txtGender" class="form-label">{{'Gender'|translate}}</label>
            <div>
              <select  id="txtGender" name="gender" class="w-50 form-select selectpicker myClass show-tick dropup" [(ngModel)]="registerRequest.gender" required>
                <option value="1">{{'Male'|translate}}</option>
                <option value="2">{{'Female'|translate}}</option>
              </select>
            </div>

            <button class="btn btn-light mt-3"(click)="register()">{{'Register'|translate}}</button>
            <p>{{'Already have an account?'|translate}} <a data-bs-target="#ModalForm" data-bs-toggle="modal">{{'Back to login'|translate}}</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
