<!-- Navigation-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" routerLink="/">ITShop</a>

    <span class="form-inline">
      <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)" >
      <option  *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language===translate.currentLang">
      {{language}}
      </option>
      </select>
    </span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/">{{'Home'|translate}}</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">{{'Shop'|translate}}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let i of tableData"><a class="dropdown-item" href="/shop/{{i.id}}/{{i.name}}">{{i.name}}</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" [routerLink]="'/about-us'">{{'About'|translate}}</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="'/contact'">{{'Contact'|translate}}</a></li>




      </ul>
      <label *ngIf="_cookieService.get('auth')!==undefined"> {{'Welcome'|translate}}, {{fullName.firstName}} {{fullName.lastName}}
        &nbsp;</label>
      <form *ngIf="_cookieService.get('auth')!==undefined" (click)="CartItems()" class="d-flex">
        <button *ngIf="roles('Kupac')" (click)="cc()" class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span  class="badge bg-dark text-white ms-1 rounded-pill"></span>
        </button>
      </form>
      <app-login></app-login>
      <div class="btn-group" *ngIf="_cookieService.get('auth')!==undefined">
        <button type="button" class="btn btn-elegant dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user pr-2" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="'/profile'">{{'Profile'|translate}}</a>
          <a *ngIf="roles('Kupac')" [routerLink]="'/problem'" class="dropdown-item" href="#">{{'Report a problem'|translate}}</a>
          <a *ngIf="roles('Admin')" [routerLink]="'/admin'" class="dropdown-item" href="#">Admin</a>
          <a *ngIf="roles('Zaposlenik')" [routerLink]="'/employee'" class="dropdown-item" href="#">{{'Employee'|translate}}</a>
          <div  class="dropdown-divider"></div>
          <a *ngIf="_cookieService.get('auth')!==undefined" (click)="logout(); cc()"  type="button" class="dropdown-item" >
            Log out
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>




