<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" routerLink="/">ITShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">Shop</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let i of tableData"><a class="dropdown-item" href="/shop/{{i.id}}/{{i.name}}">{{i.name}}</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="'/contact'">Contact</a></li>



<!--        <li class="nav-item" ><a class="nav-link" routerLink="/categories" style=" border-left: 1px solid #000000;">Categories</a>-->
<!--        </li>-->
<!--        <li class="nav-item"><a class="nav-link" href="#!">Products</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="#!">Orders</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="#!">Locations</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="#!">Discounts</a></li>-->
      </ul>
      <label *ngIf="_cookieService.get('auth')!==undefined"> Welcome, {{fullName.firstName}} {{fullName.lastName}}
        &nbsp;</label>
      <form  (click)="CartItems()" class="d-flex">
        <button (click)="cc()" class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span  class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>
      </form>
      <app-login></app-login>
      <div class="btn-group" *ngIf="_cookieService.get('auth')!==undefined">
        <button type="button" class="btn btn-elegant dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user pr-2" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Profile</a>
          <a *ngIf="roles('Admin')" [routerLink]="'/admin'" class="dropdown-item" href="#">Admin</a>
          <div *ngIf="roles('Zaposlenik')" class="dropdown-divider"></div>
          <a *ngIf="roles('Zaposlenik')" [routerLink]="'/categories'" class="dropdown-item" href="#">Categories</a>
          <a *ngIf="roles('Zaposlenik')" [routerLink]="'/products'" class="dropdown-item" href="#">Products</a>
          <a *ngIf="roles('Zaposlenik')" [routerLink]="'/producers'" class="dropdown-item" href="#">Product Producers</a>
          <a *ngIf="roles('Zaposlenik')" [routerLink]="'/orders'" class="dropdown-item" href="#">Orders</a>
          <a *ngIf="roles('Zaposlenik')" [routerLink]="'/locations'" class="dropdown-item" href="#">Locations</a>
          <a *ngIf="roles('Zaposlenik')" [routerLink]="'/discounts'" class="dropdown-item" href="#">Discounts</a>
          <div  class="dropdown-divider"></div>
          <a *ngIf="_cookieService.get('auth')!==undefined" (click)="logout(); cc()"  type="button" class="dropdown-item" >
            Log out
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>

