
&nbsp;
<button *ngIf="_cookieService.get('auth')===undefined" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModalForm">
  {{'Log in'|translate}}
</button>


<div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="myform bg-dark">
          <h1 class="text-center">{{'Login'|translate}}</h1>
          <form >
            <div class="mb-3 mt-4">
              <label for="txtUsername" class="form-label">{{'Username'|translate}}</label>
              <input id="txtUsername" name="username" type="text" class="form-control"
                     [(ngModel)]="authRequest.username" required>
            </div>
            <div class="mb-3">
              <label for="txtPassword" class="form-label">{{'Password'|translate}}</label>
              <input id="txtPassword" type="password" name="password" class="form-control"
                     [(ngModel)]="authRequest.password" required>
            </div>
            <div *ngIf="errorResponse" class="error-message" style="color: red">{{ errorResponse.error.info }}</div>
            <div *ngIf="TFAStatus"  class="mb-3">
              <label for="txtVerificationCode" class="form-label">{{'Verification code'|translate}}</label>
              <input id="txtVerificationCode" type="text" name="verificationCode" class="form-control"
                     [(ngModel)]="authRequest.verificationCode" required>
              <p style="color: red; font-size:14px">{{'Please check your email for the verification code'|translate}}.</p>
              <div *ngIf="timer > 0" class="mb-3">
                <p style="color: red; font-size: 16px;">
                  {{'Code expires in' | translate}}: <span style="font-weight: bold;">{{ timer }}</span> {{'seconds'|translate}}
                </p>
              </div>
              <p *ngIf="codeExpired">{{'Code has expired, resend for new code'|translate}}.</p>
              <p style="color:white; font-size:15px; display: inline; margin-right: 25px">{{"Didn't get the email" |translate}}?</p>
              <button class="btn-outline-info w-50" [disabled]="isButtonDisabled" (click)="generateNewCode(authRequest.username);  resetTimer()">{{'Resend'|translate}}</button>

            </div>
            <button type="submit" class="btn btn-light mt-3" (click)="login(); cc(); check2FA();startTimer();">{{'LOGIN'|translate}}</button>
            <p>{{'Not a member'|translate}}? <a data-bs-target="#SignUpModalForm" data-bs-toggle="modal">{{'Sign up now'|translate}}</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-register></app-register>








