<header style="margin-bottom:50px"  class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div  class="text-center text-white">
      <h1 class="display-4 fw-bolder">{{'Profile settings'|translate}}</h1>
    </div>
  </div>
</header>
<section id="hero" class="hero">

  <div class="icon-boxes position-relative">
    <div class="container position-relative">
      <div class="row gy-4 mt-6">

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <a (click)="update2FA(!TFAStatus)" class="stretched-link">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-key"></i></div>
              <h4 class="title" style="color: white" *ngIf="!TFAStatus">Two Factor Authentication</h4>
              <h3 class="title" style="color:red" *ngIf="!TFAStatus">Status: OFF</h3>
              <h4 class="title" style="color:white" *ngIf="TFAStatus">Two Factor Authentication</h4>
              <h3 class="title" style="color: green" *ngIf="TFAStatus">Status: ON</h3>
            </div>
          </a>
        </div>
        <!--End Icon Box -->

        <div *ngIf="roles('Kupac') &&  !subscribedUser_data?.data[0]?.isSubscribed" class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box" [attr.data-bs-toggle]="(!subscribedUser_data?.data[0]?.isSubscribed) ? 'modal' : 'modal2'" [attr.data-bs-target]="(subscribedUser_data?.data[0]?.isSubscribed) ? '#exampleModal2' : '#exampleModal'">
            <div class="icon">
              <i class="bi bi-gem"></i>
            </div>
            <ng-container *ngIf="!subscribedUser_data?.data[0]?.isSubscribed">
              <h4 class="title" style="color: white">Membership status: <span style="color: red"><br>Not subscribed</span></h4>
              <h3 class="title" style="color: white">Subscribe</h3>
            </ng-container>
          </div>
        </div>
        <div *ngIf="roles('Kupac') && subscribedUser_data?.data[0]?.isSubscribed" class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box" [attr.data-bs-toggle]="(subscribedUser_data?.data[0]?.isSubscribed) ? 'modal' : 'modal2'" [attr.data-bs-target]="(subscribedUser_data?.data[0]?.isSubscribed) ? '#exampleModal2' : '#exampleModal'">
            <div class="icon">
              <i class="bi bi-gem"></i>
            </div>
            <ng-container *ngIf="subscribedUser_data?.data[0]?.isSubscribed">
              <h4 class="title" style="color: white">Membership status: <span style="color: gold"><br>Subscribed</span></h4>
              <h3 class="title" style="color: white">Unsubscribe</h3>
            </ng-container>
          </div>
        </div>

        <!--End Icon Box -->

        <div *ngIf="roles('Kupac')" class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-cart-check"></i></div>
            <h4 class="title"><a [routerLink]="'/my-order'" class="stretched-link">My Orders</a></h4>
          </div>
        </div><!--End Icon Box -->

      </div>
    </div>
  </div>

</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'Pm'|translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-1 row-cols-md-1 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{'Monthly Subscription'|translate}}</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">5KM<small class="text-body-secondary fw-light">/{{'Mo'|translate}}</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>{{'Exclusive Discounts'|translate}}</li>
                  <li>{{'Priority email support'|translate}}</li>
                  <li>{{'...and more'|translate}}</li>
                </ul>
                <form style="margin-top: 35px" (ngSubmit)="onSubmit()">


                  <div #cardElement></div>
                  <br>
                  <!-- ...other form fields... -->
                  <button type="submit" class="w-100 btn btn-lg btn-outline-primary">{{'Get the membership now'|translate}}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">{{'Cancel membership'|translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-1 row-cols-md-1 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{'Are you sure?'|translate}}</h4>
                <br>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="cancelSubscription()">{{'Yes, cancel my membership'|translate}}</button>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary" data-bs-dismiss="modal" aria-label="Close">{{'No, I want to keep it'|translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
