<div
  class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Proizvod</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Naziv</label>
          <input class="form-control" placeholder="Naziv proizvoda" [(ngModel)]="odabrani.name"><br>
          <label class="form-label">Cijena</label>
          <input class="form-control" placeholder="Cijena proizvoda" [(ngModel)]="odabrani.price"><br>
          <label class="form-label">Opis</label>
          <input class="form-control" placeholder="Opis proizvoda" [(ngModel)]="odabrani.description"><br>
          <label class="form-label">Kategorija</label>
          <select class="form-control" [(ngModel)]="odabrani.categoryID" >
            <option *ngFor="let x of cmbDataCategory" value="{{x.id}}">{{x.name}}</option>
          </select>
          <label class="form-label">Popust</label>
          <select class="form-control" [(ngModel)]="odabrani.discountID" >
            <option *ngFor="let x of cmbDataDiscount" value="{{x.id}}">{{x.name}}</option>
          </select>
          <label class="form-label">Inventorij</label>
          <select class="form-control" [(ngModel)]="odabrani.inventoryID" >
            <option *ngFor="let x of cmbDataInventory" value="{{x.locationID}}">{{x.id}}</option>
          </select>
          <label class="form-label">Proizvođač</label>
          <select class="form-control" [(ngModel)]="odabrani.producerID" >
            <option *ngFor="let x of cmbDataProducer" value="{{x.id}}">{{x.name}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Zatvori</button>
        <button type="button" class="btn btn-primary" (click)="snimi()">Snimi</button>
      </div>
    </div>
  </div>
</div>
